# Object file
*.o

# All files in the objects directory
obj/*

# The executable files
test
lamp

# Ada Library Information
*.ali

# 3D printing intermediate files
*.stl
*.gcode


# Latex auxiliary files
*.aux
*.log
*.synctex.gz
*.toc
*.lof
*.lot
